<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>app</title>
</head>
<body>
	<div class="main-content">
		
		{{>header}}
		<p>This app is made by bishal poudel. It uses the weatherstack and positionstack to get weather data</p>
		<img class="my-pic" src="/img/me.jpg" alt='Me'>
	</div>
	{{>footer}}
</body>
</html>